# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environment
notiq_env/
.venv/
# Environment variables
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

*.pdf
*.docx
*.jpg
*.png

output_*.json
.pytest_cache/
.ipynb_checkpoints/